body
{
  background-color:orange;
}
.alpha
{border: 10px solid black;
  display:flex;
  flex-wrap: wrap;

}
.alpha > *
{
  flex: 1 1 33%;
}
.col1
{
  background-color: blue;
  color: blue;
  height:300px;
  width: 300px;
}
.col2
{
  background-color:green;
  color:green;
  height: 300px;
  width: 300px;
}
.col3
{
  background-color: red;
  color: red;
  height: 150px;
  width: 300px;
}
.col4
{
  background-color: purple;
  color: purple;
  height: 150px;
  width: 200px;
}
.col5
{
  background-color: yellow;
  color: yellow;
  height: 150px;
  width: 200px;

}

